@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  background-color:aquamarine;
  color:indigo;
  text-align: left;
  border: 5px solid black;
  padding: 4px;
}
p{
  color: black;
  background-color: cornflowerblue;
  border: 20px;
  text-align: left;
  font: size 2xl;;
}